*{
  margin: 0;
  padding: 0;
  
  list-style-type: none;
}

header nav{
  background-color: black;
  height: 80px;
  color: white;
  display: flex;
  align-items: center;
  padding: 20px;
}

header ul{
  flex-basis: 75%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header nav a{
  color: white;
  text-decoration: none;
  margin-right: 10px;
  margin-left: 10px;
}

header nav a:hover{
  color: lightblue;
}

/* BODY */

body{
  background-color: #ccc;
}

.content{
  width: 70%;
  min-height: 350px;
  background-color: white;
  border-radius: 15px;
  border: 1px solid gray;
  margin: 25px auto;
  padding: 25px;
}